<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>  
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <div class="form-body">
                <div class="check-mail">
                    <p> Check your mail.</p>
                    <p>Otherwise, click <a href="/reset" class="help">here</a> to resend. </p>
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
    </main>
</body>
</html>