<footer id="footercontent">
    <div class="container">
        <div class="row">
            <div class="col-12 contact">
                <p class="email"> Hello@jam.com </p>   
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
    </div>
</footer>