<footer id="footercontent">
    <div class="container py-3">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h1>JAM'S</h1>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Stockholm</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Malmö</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Göteborg</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Karlstad</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="/login" class="text-muted">Login</a></li>
                    <li class="mb-2"><a href="/wishlist" class="text-muted">Wishlist</a></li>
                    <li class="mb-2"><a href="/" class="text-muted">Our Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0" id="signup-email">
                <h6 class="text-uppercase font-weight-bold mb-4">Sign up</h6>
                <p class="text-muted mb-4">Want to keep up to date with all our latest news and information? </br>
                    Please sign up now!</p>
                <div class="p-1 rounded border">
                    <div>
                        <span>
                            <a class="signup-btn" href="/register" role="button">Register</a>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" id="copyright">
            <p class="text-muted mb-0 py-2">© 2021 JAM'S All rights reserved.</p>
        </div>
    </div>
</footer>