<form action="/adminPage" method="post"  enctype="multipart/form-data" class="product-form">
    <h4 class="form-title">Product form</h4>
    <input type="text" name="name" id="" placeholder="product name">
    <input type="text" name="description" id="" placeholder="description">
    <input type="number" name="price" id="" placeholder="price">
    <input type="text" name="content" id="" placeholder="content">
    <input type="file" name="image" id="">
    <button type="submit" class="btn btn-dark">Add product</button>
</form>