<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <div class="form-body">
                <form action="/register" method="post" class="register-form">
                    <div>
                        <h4>Sign up</h4>
                    </div>
                    
                    <div class="form-group" >
                        <input type="text" name="name" id="" placeholder="name">
                    </div>
                    <div class="form-group" >
                        <input type="email" name="email" id="" placeholder="email">
                    </div>
                    <div class="form-group" >
                        <input type="password" name="password" id="" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-dark">Register</button>
                    <p class="error"><%= error %></p>
                    <div>
                        <p class="">Already have an account? <a href="/login" class="help">Login</a></p>
                    </div>
                </form>
            </div>
        </section>
        <%- include('footer.ejs') %>
    </main>
</body>
</html>