<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <div >
        <h1 style="margin-top:180px; text-align: center;">Thank you for shopping with us!</h1>
        <h2 style="margin-bottom:180px; text-align: center;">You will get the delivery within 3 days.</h2>
    </div> 
    <div>
     <%- include('footer.ejs') %>
    </div>  
</body>
</html>