<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <main>
        <section class="success-body">
            <div>
                <h1 >Thank you for shopping with us!</h1>
                <h2 >You will get the delivery within 3 days.</h2>
            </div>
        </section> 
        <%- include('footer.ejs') %> 
    </main>
</body>
</html>