.admin-body {
    height: 90%;
    margin: 0;
    h3 {
        text-align: center;
        margin-top: 30px;
    }
    .no-product {
        margin-top: 30px;
        text-align: center;
    }
}
.product-form {
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    input {
        border: 1px solid rgb(70, 37, 24);
        border-radius: 4px;
        padding: 10px;
        margin-top: 10px;
        width: 300px;
    }
    button {
        margin-top: 10px;
        cursor: pointer;
        padding: 0;
        height: 40px;
        width: 300px;
        background-color:  rgb(70, 37, 24);
    }
    p {
        font-size: 15px;
        margin-top: 10px;
    }
}

.admin-productList {
    margin:30px 0;
}

.product-img {
    padding: 20px 0;
    text-align: center;
}

.product-detail {
    padding: 20px;
    color:rgb(70, 37, 24);
    a {
        color:rgb(70, 37, 24);
        float: right;
    }
}

.edit-form {
    margin-top: 20px;
    input{
        padding: 5px;
        margin-bottom:5px;
        width: 100%;
    }
    button{
        font-size: 12px;
        a {
            color: white;
        }
    }
}

.delete {
    a:hover {
        text-decoration: none;
    }
}

.error {
    color:orangered;
}