.cartCard .cart-img > img {
  width: 100%;
  height: 100%;
}

.cartCard .cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cartCard .cart-info .pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartCard .cart-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.checkout-card .cart-img > img {
  @include desktop {
    width: 50%;
  }
}
