.product-body {
    margin: 15% 0;
}

.productList {
    background-color: transparent;
    border-color: none;
}

.card-title {
    height: 30px;
    width: 195px;
    margin: 30px;
    color: rgb(70, 37, 24);
}

.minicard {
    border: none;
    background-color: transparent;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
}

.myImg {
    width: 150px;
    z-index: 2;
    transition: all 0.75s ease-out;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(59, 59, 59));
    filter: drop-shadow(5px 5px 5px rgb(59, 59, 59));
    @include desktop {
        width:200px;
    }
}

.buybtn {
    height: 40px;
    width: 150px;
    background-color: rgb(70, 37, 24);
    border: none;
    border-radius: 4px;
    color: white;
    z-index: 2;
}

.imagebox {
    transform-style: preserve-3d;
    transition: all 0.75s ease-out;
    justify-content: space-around;
}

.img-center {
    text-align: center;
    @include desktop {
        text-align: right;
    }
}

.product-detail {
    padding-top: 30px;
    padding-left: 50px;
}

.plus-btn {
    cursor: pointer;
}


#showBtn {
    text-align: center;
    margin-bottom: 10px;
  }
  
