@import "responsive";
@import "user";
@import "admin";
@import "product";

body {
  color: rgb(70, 37, 24);
  //color: rgb(240, 113, 40);
  //font-weight: 600;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  //background-image: linear-gradient(#a8ff78, #78ffd6)
}
.navigation {
  a:hover {
    color: orange;
  }
}
#logo {
  font-family: "Special Elite", cursive;
  font-size: 40px;
  margin-left: 20px;
}

#menu {
  background-color: rgb(70, 37, 24);
  color: white;
  z-index: 3;
}

#menu-list {
  li {
    :hover {
      color: orange;
    }
  }
  @include desktop {
    margin-left: 100px;
  }
}
.navIcon {
  color: white;
}

.highlighter {
  //height: 100px;
  //width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  @include desktop {
    margin-top: 50px;
  }
}


.card-title {
  height: 30px;
  width: 195px;
  margin: 30px;
  //background-color: rgb(43, 9, 9);
  color: rgb(70, 37, 24);
  //box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  //z-index: 2;
}
.myImg {
  //height: 280px;
  width: 150px;
  z-index: 2;
  transition: all 0.75s ease-out;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(59, 59, 59));
  filter: drop-shadow(5px 5px 5px rgb(59, 59, 59));
  @include desktop {
    width:200px;
  }
}
.imagebox {
  transform-style: preserve-3d;
  transition: all 0.75s ease-out;
  justify-content: space-around;
  //box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2)
}

#footercontent {
  height: 150px;
  background-color: rgb(248, 230, 206);
  color: rgb(70, 37, 24);
  text-align: center;
  font-size: 20px;
}

.contact {
  margin-top: 30px;
}

.productList {
  //background-color:rgb(206, 201, 204);
  background-color: transparent;
  //background-image: linear-gradient(#a8ff78, #78ffd6)
  border-color: none;
}

.minicard {
  border: none;
  background-color: transparent;
  margin-top: 15vh;
  margin-bottom: 5vh;
  align-items: center;
  text-align: center;
  //background-color:rgb(31, 28, 29);
}
#showBtn {
  text-align: center;
  margin-bottom: 10px;
}
.loadMore {
  border: none;
  color: rgb(70, 37, 24);
  // box-shadow: 0 20px 20px rgba(240, 113, 40, 0.2), 0px 0px 50px rgba(240, 113, 40, 0.2);
  font-size: 15px;
  border: 1px solid rgb(70, 37, 24);
  padding:10px 30px;
  &:hover {
    // background-color: rgb(70, 37, 24);
    // color: white;
    z-index: 2;
    text-decoration: none;
    color: orange;
  }
}
.menuColor {
  color: white;
}

.myCartBtn {
  color: white;
  height: 50px;
  width: 60px;
  z-index: 100;
  margin-right: 50px;
  margin-bottom: 20px;
}
.myCart {
  color: white;
  font-size: 25px;
  // padding: 20px;
  // padding-right: 30px;
  // padding-bottom: 30px;
  // height: 50px;
  // width: 50px;
  // border-radius: 50%;
  &:hover {
    // background-color: white;
    color: orange;
    // box-shadow: 0 20px 20px rgba(240, 113, 40, 0.2), 0px 0px 50px rgba(240, 113, 40, 0.2);
  }
}

.buybtn {
  height: 40px;
  width: 150px;
  background-color: rgb(70, 37, 24);
  border: none;
  border-radius: 4px;
  color: white;
  //   font-weight: 800;
  //   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.PrdtPg {
  background-color: white;
}
.about {
  align-items: center;
  text-align: center;
  margin: 20px 10px;
  font-size: 12px;
  @include desktop {
  }
}

.PrdList {
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.cartCard .cart-img > img {
  width: 100%;
  height: 100%;
}

.cartCard .cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cartCard .cart-info .pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartCard .cart-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.hidden {
  display: none;
}
.heroSection{
  // height: 600px;
  width: 100%;
}
